<div class="container">
    <div class="flex mb-4">
        <div class="w-1/2 h-full" data-aoi="images">
            <div class="inline-block w-1/6 align-top h-full">
                <img class="h-1/4 border-b-4 border-black" src="../../assets/JacketGirl.png" data-aoi-click>
                <img class="h-1/4 pt-1 pb-1" src="../../assets/JacketGirl1.png" data-aoi-click>
                <img class="h-1/4 pb-1" src="../../assets/JacketGirl2.png" data-aoi-click>
                <img class="h-1/4" src="../../assets/JacketGirl3.png" data-aoi-click>
            </div>
            <div class="inline-block w-3/4 h-full ">
                <img class="rounded-lg px-2" src="../../assets/JacketGirl.png">
            </div>
            <!-- <a mat-raised-button color="primary" [routerLink]="'/cart'">Buy</a> -->
        </div>
        <div class="w-1/2 pl-10 pt-2" data-aoi="summary">
            <!-- <div class="w-full h-64 bg-white rounded-lg"> -->
            <p class="font-bold text-xl">Denim aviator jacket with contrast borg collar</p>
            <p class="text-xl py-2">&euro;89,95</p>
            <p class="text-xl py-2">Size</p>
            <!-- </div> -->
        </div>
    </div>
    <!-- Full details -->
    <div class="h-64 bg-white w-full" data-aoi="details">
        <div class="w-1/2">
            <div class="inline-block text-xl font-bold w-1/4 text-center" data-aoi-click>Details</div>
            <div class="inline-block text-xl font-bold w-1/4 text-center" data-aoi-click>Look & Fit</div>
            <div class="inline-block text-xl font-bold w-1/4 text-center" data-aoi-click>Wash info</div>
            <div class="inline-block text-xl font-bold w-1/4 text-center" data-aoi-click>Origin</div>
        </div>
    </div>

    <!-- Break -->
    <div class="h-10 w-full"></div>

    <!-- Reviews -->
    <div class="h-64 bg-white w-full" data-aoi="reviews">Reviews</div>
</div>

<div class="h-16 bg-transparent"></div>
<div class="fixed bottom-0 left-0 h-16 bg-white w-full border-t-2 border-black">
    <div class="inline-block w-1/3 font-bold text-xl pt-3 text-center">Denim aviator jacket</div>
    <div class="inline-block w-2/3 pt-3 pr-5 text-right">
        <button [routerLink]="'/cart'"
            class="bg-transparent text-black border border-black hover:bg-black hover:text-white hover:border-transparent font-bold py-2 px-4 rounded">
            Add to cart
        </button>
    </div>
</div>