<div class="container">
    <div class="flex mb-4">
        <div class="w-1/2 h-full">
            <div class="inline-block w-1/6 align-top h-full">
                <img class="h-1/4 border-b-4 border-black rounded-lg" src="../../assets/JacketGirl.png">
                <img class="h-1/4 pt-1 pb-1 rounded-lg" src="../../assets/JacketGirl1.png">
                <img class="h-1/4 pb-1 rounded-lg" src="../../assets/JacketGirl2.png">
                <img class="h-1/4 rounded-lg" src="../../assets/JacketGirl3.png">
            </div>
            <div class="inline-block w-3/4 h-full ">
                <img class="rounded-lg px-2" src="../../assets/JacketGirl.png">
            </div>
            <!-- <a mat-raised-button color="primary" [routerLink]="'/cart'">Buy</a> -->
        </div>
        <div class="w-1/2 pl-10 pt-2">
            <!-- <div class="w-full h-64 bg-white rounded-lg"> -->
            <p class="font-bold text-3xl">Denim aviator jacket with contrast borg collar</p>
            <p class="text-xl underline pt-5">Price</p>
            <p class="text-xl py-1">&euro;89,95</p>
            <p class="text-xl underline pt-5">Size</p>
            <p class="text-2xl py-1">
                <b>S</b> - M - L - XL
            </p>
            <p class="text-xl underline pt-5">Color</p>
            <img class="pt-1 rounded-lg h-16" src="../../assets/Colors2.png">
            <!-- </div> -->
        </div>
    </div>
    <!-- Full details -->
    <div class="flex -mx-2">
        <div class="w-1/2 px-2">
            <div class="bg-white rounded-lg">
                <div class="py-3 text-white bg-green-500 rounded-t">
                    <div class="inline-block text-xl font-bold w-1/4 text-center font-bold">Details</div>
                    <div class="inline-block text-xl font w-1/4 text-center">Look & Fit</div>
                    <div class="inline-block text-xl font w-1/4 text-center">Wash info</div>
                    <div class="inline-block text-xl font w-1/4 text-center">Origin</div>
                </div>
                <div class="text-xl font-bold pl-12 pt-3 pb-2">Jacket by ASOS DESIGN</div>
                <div class="pl-12 pb-5">
                    - Part of our responsible edit <br>
                    - Zero-waste design <br>
                    - Created using every inch of fabric, so nothing goes to waste <br>
                    - Borg collar <br>
                    - Double-breasted opening <br>
                    - Functional pockets <br>
                    - Regular fit <br>
                    - Just select your usual size <br>
                </div>
            </div>
        </div>
        <div class="w-1/2 px-2">
            <div class="bg-green-500 h-full rounded-lg">
                <!-- <img class="w-full object-cover object-top" src="../../assets/JacketGirl1.png"> -->
            </div>
        </div>
    </div>

    <!-- Break -->
    <div class="h-10 w-full"></div>

    <!-- Reviews -->
    <div class="flex -mx-2">
        <div class="w-1/2">
            <div class="bg-white rounded-lg">
                <div class="py-3 text-white bg-green-500 rounded-tl border-b border-gray-400">
                    <div class="inline-block text-xl font-bold w-1/4 text-center font-bold">Reviews</div>
                </div>
                <div class="rounded-bl">
                    <ul>
                        <li (click)="review = 1" [ngClass]="{'text-white bg-green-500': review==1}"
                            class="h-15 py-5 px-5 hover:bg-green-500 hover:text-white font-bold cursor-pointer">Nesli
                            <img src="../../assets/5Stars.png" class="inline-block float-right h-5">
                        </li>
                        <li (click)="review = 2" [ngClass]="{'text-white bg-green-500': review==2}"
                            class="h-15 py-5 px-5 bg-gray-400 hover:bg-green-500 hover:text-white font-bold cursor-pointer">
                            Chloé
                            <img src="../../assets/4Stars.png" class="inline-block float-right h-5">
                        </li>
                        <li (click)="review = 3" [ngClass]="{'text-white bg-green-500': review==3}"
                            class="h-15 py-5 px-5 hover:bg-green-500 hover:text-white font-bold cursor-pointer">Yanitza
                            <img src="../../assets/5Stars.png" class="inline-block float-right h-5">
                        </li>
                        <li (click)="review = 4" [ngClass]="{'text-white bg-green-500': review==4}"
                            class="h-15 py-5 px-5 bg-gray-400 hover:bg-green-500 hover:text-white hover:rounded-b font-bold cursor-pointer">
                            Naomi
                            <img src="../../assets/4Stars.png" class="inline-block float-right h-5">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-1/2">
            <div class="bg-green-500 h-full rounded-r">
                <div *ngIf="review == 1" class="text-white p-10">
                    <div class="text-xl font-bold py-2">Nesli</div>
                    NESLI ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt magna eu libero molestie,
                    at placerat mi porttitor. Etiam dictum justo et nisi elementum, at elementum ex porttitor. Nulla
                    feugiat orci vel diam semper, malesuada laoreet risus suscipit. Morbi sit amet ex a neque laoreet
                    suscipit. Nunc venenatis viverra ullamcorper. Donec dui metus, vestibulum a mi vel, commodo pharetra
                    eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ex
                    nulla, dignissim lobortis dolor a, auctor vestibulum libero. Etiam eros mauris, sollicitudin a erat
                    ut, lacinia laoreet elit.
                </div>
                <div *ngIf="review == 2" class="text-white p-10">
                    <div class="text-xl font-bold py-2">Chloé</div>
                    Very fresh style and comfy !
                    <br><br>
                    Still, it’s a bit loose on the sleeves, you have to like it! 
                </div>
                <div *ngIf="review == 3" class="text-white p-10">
                    <div class="text-xl font-bold py-2">Yanitza</div>
                    YANITZA ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt magna eu libero
                    molestie,
                    at placerat mi porttitor. Etiam dictum justo et nisi elementum, at elementum ex porttitor. Nulla
                    feugiat orci vel diam semper, malesuada laoreet risus suscipit. Morbi sit amet ex a neque laoreet
                    suscipit. Nunc venenatis viverra ullamcorper. Donec dui metus, vestibulum a mi vel, commodo pharetra
                    eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ex
                    nulla, dignissim lobortis dolor a, auctor vestibulum libero. Etiam eros mauris, sollicitudin a erat
                    ut, lacinia laoreet elit.
                </div>
                <div *ngIf="review == 4" class="text-white p-10">
                    <div class="text-xl font-bold py-2">Naomi</div>
                    NAOMI ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt magna eu libero molestie,
                    at placerat mi porttitor. Etiam dictum justo et nisi elementum, at elementum ex porttitor. Nulla
                    feugiat orci vel diam semper, malesuada laoreet risus suscipit. Morbi sit amet ex a neque laoreet
                    suscipit. Nunc venenatis viverra ullamcorper. Donec dui metus, vestibulum a mi vel, commodo pharetra
                    eros. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ex
                    nulla, dignissim lobortis dolor a, auctor vestibulum libero. Etiam eros mauris, sollicitudin a erat
                    ut, lacinia laoreet elit.
                </div>
            </div>
        </div>
    </div>
    <div class="h-16 bg-transparent"></div>
</div>

<div class="h-16 bg-transparent"></div>
<div class="fixed bottom-0 left-0 h-16 bg-white w-full border-t-2 border-black">
    <div class="inline-block w-1/3 font-bold text-xl pt-3 text-center">Denim aviator jacket</div>
    <div class="inline-block w-2/3 pt-3 pr-5 text-right">
        <button *ngIf="!checkout" (click)="checkout = true"
            class="bg-black text-white border hover:bg-green-500 py-2 px-4 rounded-lg">
            Add to cart
        </button>
        <div *ngIf="checkout" class="inline-flex">
            <button [routerLink]="'/cart'"
                class="bg-black border-l-1 border white text-white hover:bg-green-500 py-2 px-4 rounded-l">
                See Cart
            </button>
            <button [routerLink]="'/login'"
                class="bg-black border-r-1 border white text-white hover:bg-green-500 py-2 px-4 rounded-r">
                Checkout
            </button>
        </div>
    </div>
</div>