<div class="w-full text-center">
        <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">1
            
        </div>
        <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">2</div>
        <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">3</div>
        <div *ngIf="isShakyCustomer" class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">4</div>

        <div *ngIf="isShakyCustomer" class="py-6 bg-black inline-block rounded-full text-white text-xl px-8 m-4 relative text-center">5
                <span class="absolute top-0 mt-20 text-black -m-20 w-40 text-center block">Done</span>
        </div>
        <div *ngIf="!isShakyCustomer" class="py-6 bg-black inline-block rounded-full text-white text-xl px-8 m-4 relative text-center">4
                <span class="absolute top-0 mt-20 text-black -m-20 w-40 text-center block">Done</span>
        </div>
    </div>
        <div class="flex mb-4 mt-20">
            <div class="w-1/2 mx-auto">
                <div class="ml-40 mr-40">
                    <div class="text-4xl text-center">
                        <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/232/party-popper_1f389.png" class="inline"/><br>
                        Done!
                    </div>
                    <a [routerLink]="'/'" class="my-3 bg-black text-white p-3 rounded-lg w-full  hover:bg-green-500 block text-center">Back to the store</a>
                </div>
            </div>
        </div>
    <div>