<div class="w-full text-center">
    <div class="py-6 bg-black inline-block rounded-full text-white text-xl px-8 m-4 relative text-center">1
        <span class="absolute top-0 mt-20 text-black -m-20 w-40 text-center block">Authentication</span>
    </div>
    <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">2</div>
    <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">3</div>
    <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">4</div>
    <div *ngIf="isShakyCustomer" class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">5</div>
</div>
<div class="flex mb-4 mt-20">
    <div class="w-1/2">
        <div class="ml-64 mr-10">
            <div class="text-center w-full"><b>Quick sign in</b></div>
            <input class="my-3 bg-white p-3 rounded-lg w-full" placeholder="sam.doe@gmail.com"/>
            <input class="my-3 bg-white p-3 rounded-lg w-full" type="password" placeholder="azerty"/>
            <button [routerLink]="'/address'" class="block my-3 bg-black text-white p-3 rounded-lg w-full  hover:bg-green-500">Sign in</button>
        </div>
    </div>
    <div class="w-1/2">
        <div class="text-center w-full opacity-0"><b>—</b></div>
        <div class="mr-64 ml-10">
            <a [routerLink]="'/address'" class="text-center block my-3 bg-black text-white p-3 rounded-lg w-full hover:bg-green-500">Sign up</a>
        </div>
    </div>
    </div>
<div >
