<div class="w-full text-center">
    <div class="py-6 bg-black inline-block rounded-full text-white text-xl px-8 m-4 relative text-center">1
        <span class="absolute top-0 mt-20 text-black -m-20 w-40 text-center block">Authentication</span>
    </div>
    <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">2</div>
    <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">3</div>
    <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">4</div>
    <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">5</div>
</div>