<div class="w-full text-center">
        <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">1
        </div>
        <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">2</div>
        <div class="py-6 bg-black inline-block rounded-full text-white text-xl px-8 m-4 relative text-center">3
                <span class="absolute top-0 mt-20 text-black -m-20 w-40 text-center block">Last check</span>
        </div>
        <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">4</div>
        <div class="py-6 bg-white inline-block rounded-full text-xl px-8 m-4">5</div>
    </div>
        <div class="flex mb-4 mt-20">
            <div class="w-2/3 mx-auto flex mb-0">
                <div class="w-64">
                    <div class="w-full h-full bg-cover bg-center rounded-l-lg" style="background-image: url('../assets/j2.jpg')">
                    </div>
                </div>
                <div class="flex-1">
                    <div class="p-6 bg-white rounded-tr-lg"><b>Denim aviator jacket with contrast borg collar</b></div>
                    <div class="bg-black p-6 rounded-br-lg">
                        <div class="text-4xl text-white">
                                / Loose sleeves<br>
                                / Regular fit<br>
                                / Ideal for autumn<br>
                        </div>
                        <div>
                            <div class="text-xl text-white inline-block pt-12 pb-4 mr-6 underline">Discard</div>
                            <div class="text-xl text-white inline-block pt-12 pb-4 underline">Change</div>
                            <div class="text-xl bg-white rounded-lg py-4 px-6 mt-8 inline-block float-right">Full details</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex mb-4 mt-20">
        <div class="w-2/3 mx-auto mb-64">
            <a  [routerLink]="'/payment'"  class="text-center block mb-64 my-3 bg-black text-white p-3 rounded-lg hover:bg-green-500 mb-64 float-right w-64">Payment</a>
    </div>
    </div>